{% include 'header.html' %}
{% include 'menu.html' %}

    <div class="container">
      <div class="starter-template">

<h3> Vraiment pas à jour !!!</h3>

    <h3>Utilisation</h3>

    url=/dashboard
    <p>La page "dashboard" renvoi une vue des 50 dernières opérations global et des 50 dernières opérations en erreurs</p>

    url=/dashboard/nom_du_server
    <p>La page "dashboard/nom_du_server" renvoi une vue des dernières tâches, toutes opérations confondu</p>

<p>Une séquence Ansible est la clée de recherche, attention, si le playbook traite plusieurs serveurs, toutes les tâches seront alors présentées.</p>


<br />
<p></p>
    </div><!-- /.container -->
    </div><!-- /.container -->
</body>
</html>
