
{% include 'header.html' %}
{% include 'menu.html' %}


    <div class="container">

      <div class="starter-template">
    <ul>
    {% for task_timestamp, task_host, task_name, task_status, task_module, task_msg, task_stdout, task_module_args in all_tasks %}

        {% if 'starting playbook' in task_name %}
        <h2> Début de la séquence </h2>
        {% endif %}
        
        {% if not 'debug' in task_name %}
        {% if 'ok' in task_status %}
       <li>&nbsp;  <img src="/static/circle-ok-green.png" />{{ task_timestamp }} - {{ task_host }} - la tâche <strong>{{ task_name }}</strong> s'est bien déroulée <div id="toto"  class="glyphicon glyphicon-plus" style="cursor:pointer"></div> <p style="display: none"> {{ task_msg }} <strong>{{ task_module_args }}</strong> {{ task_stdout }}</p></li>
        {% else %}
        <li><img src="/static/exclamation-circle_red.png" />{{ task_timestamp }} - {{ task_host }} - la tâche <strong>{{ task_name }}</strong> a rencontrée une erreur <div id="toto"  class="glyphicon glyphicon-plus" style="cursor:pointer"></div><p style="display: none"> <strong>{{ task_msg }}</strong> {{ task_module_args }} {{ task_stdout }}</p></li>
        {% endif %}

        {% endif %}
        {% if 'playbook last timestamp' in task_name %}
        <h2>Fin de la séquence </h2>
        {% endif %}

    {% endfor %}
    </ul>

<script type="text/javascript">
var myvar = "div#toto";
$( myvar ).click(function() {
  $( "p" ).toggle();
}); 
</script> 

    </div><!-- /.container -->
</body>
</html>
